body {
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Kanit", sans-serif;
    --blue: #123FE1;
    --black: #1D1E21;
    --gray: #EBEBEB;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

header {
    grid-column: 2/3;
    margin-top: 2rem;
    /*width: 75%;*/
}

nav {
    display: flex;
    grid-column: 6/10;
    padding-top: 15%;
    justify-content: space-evenly;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--black)
}

.navigation a {
    text-decoration: none;
    color: var(--black);
}

main {
    grid-column: 1/11;
    display: grid!important;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 1.5rem;
}

p {
    font-family: var(--primary-font);
    font-weight: 500;
}
#weather-banner {
    grid-column: 1/11;
    font-family: var(--primary-font);
    font-weight: 500;
    text-align: center;
    background-color: var(--gray);
    padding: 1rem;
    display: flex;
    margin-top: 2rem;
}

.close-banner {
    display: none!important;
}

#weather-banner p {
    margin: auto
}

#weather-banner button {
    display: inline;
}

#menu {
    display: none;
}

.hero-text-container {
    grid-column: 1/11;
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.hero-text-container p {
    position: absolute;
    top: 20%;
    font-family: var(--primary-font);
    font-weight: 1000;
    font-size: 3rem;
    grid-column: 2/6;
    text-align: left;
}

.hero-text-container picture {
    grid-column: 1/13;
}

#welcome-message {
    font-family: var(--primary-font);
    font-weight: 500;
    grid-column: 2/10;
    margin-top: 1rem;
}

#welcome-message p {
    padding-bottom: 1rem;
    padding-top: .5rem;
}

#welcome-message button, #location-info button, #rental-description button, .blue-button, #rent-vehicle-button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 6px;
    font-family: var(--primary-font);
    font-weight: 700;
    margin-top: 1rem;
}

.button {
    display: block;
    padding: 1rem 2rem;
    background-color: var(--blue);
    font-family: var(--primary-font);
    font-weight: 700;
    color: white;
    border-radius: 6px;
    margin-top: 2rem;
    text-align: center;
    text-decoration: none;
}

.half-width-button {
    width: 50%;
}
.large-button {
    width: 20%;
}

.medium-button {
    width: 10%;
}


/*#reservation-form input[type="submit"]*/

h1 {
    font-family: var(--secondary-font);
    font-weight: 700;
}

#playa-location {
    grid-column: 2/6;
    margin-top: 5rem;
}

#puerta-maya-location {
    grid-column: 6/10;
    margin-top: 5rem;
}

#playa-location img, #puerta-maya-location img {
    border-radius: 10px;
}

.img-caption {
    font-family: var(--primary-font);
}


#location-info {
    grid-column: 2/10;
    padding-top: 1.5rem;
}

h2 {
    font-family: var(--secondary-font);
    font-weight: 650;
}

#location-info p {
    font-family: var(--primary-font);
    font-weight: 500;
}

#home-rental-images {
    grid-column: 2/10;
    display: flex;
}


#rental-description {
    grid-column: 2/10;
    margin-top: 2rem;
}

#rental-description p {
    font-family: var(--primary-font);
    color: var(--black);
    font-weight: 500;
    padding-bottom: .5rem;
}

#weather-cards {
    grid-column: 2/5;
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
}

#weather-text-info {
    grid-column: 2/10;
}

#weather-text-info p{
    font-family: var(--primary-font);
    font-weight: 500;
}

.weather-card {
    padding: 2rem;
    background-color: var(--gray);
    margin-right: 2rem;
    width: 220px;
    border-radius: 10px;
}

.weather-card p {
    font-family: var(--primary-font);
    font-weight: 500;
}

h3 {
    font-family: var(--secondary-font);
    font-weight: 700;
}

.weather-card img {
    background-color: white;
    border-radius: 6px;
    width: 70px;
}

#weather-text-info {
    grid-column: 5/8;
    margin-top: 4rem;
}


footer {
    background-color: var(--gray);
    margin-top: 4rem;
    grid-column: 1/11;
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

#footer-logo {
    width: 150px;
    display: block;
    padding: 1rem;
}

#footer-container {
    grid-column: 2/10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.break {
    width: 100%;
}

#footer-container ul {
    text-align: center;
    padding: 0;
}

#footer-container ul li {
    list-style-type: none;
    font-family: var(--primary-font);
    font-weight: 500;
}

#social-media-links {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#social-media-links a {
    padding: .5rem;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--blue);
}

/****Rental Page*****/

.subpage-header {
    margin-top: 2rem;
}

#rental-intro {
    grid-column: 2/10;
}

#rental-avail-header, #pricing-header {
    text-align: center;
    grid-column: 2/10;
    font-size: 1.5rem;
}

.bold {
    font-weight: bold;
}

#honda-rental-info {
    grid-column: 2/10;
}

.vehicle-card {
    width: 400px;
}

.vehicle-display {
    display: flex;
    flex-wrap: wrap;
}

.pricing-link {
    padding-top: 2rem;
    grid-column: 2/10;
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--black);
}

.pricing-link:visited {
    color: var(--black);
}

.arrow-icon {
    width: 40px;
    padding-left: 8px;
}

#honda-atv-rental-info, #jeep-rental-info {
    grid-column: 2/10;
    margin-top: 3.5rem;
}



#rental-pricing {
    grid-column: 2/10;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--gray);
    border-spacing: 0;
    border-radius: 10px;
    margin-top: 4rem;
}

th {
    padding: 1rem 2rem;
    /*text-align: left;*/
    border: 1px solid #C4C4C4;
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 1.2rem;
}

td {
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 1rem 2rem;
    border: 1px solid #C4C4C4;
}

#rental-table-name {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 1.5rem;
}

.center-align {
    text-align: center;
}

#left-bottom-round {
    border-bottom-left-radius: 10px;
}

.right-bottom-round {
    border-bottom-right-radius: 10px;
}

.button-center {
    grid-column: 2/10;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/*****Reservations*****/

.grid-ten {
    grid-column: 2/10;
}

#reservation-form {
    grid-column: 2/10;
    background-color: var(--gray);
    padding: 2rem;
    border-radius: 10px;
}

#reservation-form input[type=text], 
#reservation-form input[type=email],
#reservation-form input[type=tel],
#reservation-form input[type=date] {
    display: block;
    margin-bottom: 1rem;
    width: 50%;
}

#reservation-form input {
    border: none;
    padding: .3rem;
    border-radius: 3px;
}

.form-title {
    margin-top: 1.5rem;
}

#reservation-form input[type="checkbox"] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input, label {
    font-family: var(--primary-font);
}

fieldset {
    border: none;
}

legend {
    font-family: var(--primary-font);
    margin-bottom: 1.2rem;
    font-weight: bold;
}

#reservation-form input[type="submit"] {
    margin-top: 1.2rem;
    background-color: var(--blue);
    border: none;
    padding: .6rem 1.5rem;
    color: white;
    font-family: var(--secondary-font);
    border-radius: 6px;
}

.rental-agreement-text {
    width: 50%;
}

.primary-font {
    font-family: var(--primary-font);
}

#drop-off-section {
    margin-top: 2rem;
}

#drop-off-info {
    display: block;
    width: 50%;
    margin-top: .3rem;
    border-radius: 6px!important;
}


/*****Thanks*****/
.center-div {
    grid-column: 2/10;
    text-align: center;
    margin-top: 2rem;
}

.center-div p {
    margin-bottom: 3rem;
}

.center-div a {
    background-color: var(--blue);
    color: white;
    padding: .6rem 2rem;
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    border-radius: 6px;
}


/****Contact Us*****/

#contact-us-intro {
    grid-column: 2/10;
    margin-top: 3rem;
}

#contact-form-section {
    grid-column: 2/6;
    margin-top: 2rem;
}

#scoots-location {
    grid-column: 6/10;
    margin-top: 1rem;
    padding-left: 2rem;
}

#scoots-information {
    grid-column: 2/10;
}

#contact-form {
    background-color: var(--gray);
    border-radius: 10px;
    padding-bottom: 2rem;
}

#contact-form fieldset {
    padding-left: 2rem;
    padding-bottom: 2rem;
}

#contact-form legend {
    padding-top: 2rem;
}

#scoots-map{
    grid-column: 2/6;
    border: none;
    border-radius: 10px;
}

#find-us-header {
    grid-column: 2/10;
    font-size: 1.5rem;
    margin-top: 3rem;
}

#contact-form input {
    display: block;
    border:none;
    padding: .3rem;
    width: 75%;
    border-radius: 3px;
}

#contact-form div textarea {
    display: block;
    border: none;
    width: 75%;
    height: 100px;
    border-radius: 3px;
}

#contact-form input[type="text"],
#contact-form input[type="email"] {
    margin-bottom: 1rem;
}

#contact-form input[type="submit"] {
    margin-top: 1.2rem;
    background-color: var(--blue);
    border: none;
    padding: .6rem 1.5rem;
    color: white;
    font-family: var(--secondary-font);
    border-radius: 6px;
    margin-left: 2rem;
    width: 30%!important;
    margin-top: -.5rem;

}