@media screen and (max-width: 1110px) {

    /****Home Page****/
    
    .hero-text-container p {
        font-size: 2rem;
    }

    nav {
        padding-top: 15%;
        font-size: 1rem;
        grid-column: 5/10;
    }

    #weather-cards {
        grid-column: 2/6;
    }

    #weather-text-info {
        grid-column: 6/10;
    }

    /****Rentals*****/

    #rental-pricing {
        grid-column: 2/10;
    }

    /***Reservations****/

    .rental-agreement-text {
        width: 100%;
    }

    /****Contact****/
    #contact-us-intro, #contact-form-section, #scoots-location, #scoots-information {
        grid-column: 2/10;
    }

    #scoots-location iframe {
        width: 100%;
    }

    #scoots-location {
        padding-left: 0;
    }

    #contact-form input {
        width: 80%;
    }

    /*****Buttons****/
    .half-width-button {
        width: 50%;
    }
    .large-button {
        width: 30%;
    }
    
    .medium-button {
        width: 30%;
    }
}