@media screen and (max-width: 820px) {

    /***Home page****/
    
    nav {
        display: none;
    }

    nav a {
        display: none;

    }

    #menu {
        display: block;
        background-color: white;
        border: none;
        font-size: 1.8rem;
        grid-column: 10/11;
    }

    #menu::before {
        content: "☰"; 
        color: #1D1E21;
    }

    #menu.open::before {
        content: "❌";
    }

    .open a {
        display: block;
        text-align: center;
        padding: .5rem;
    }

    .open {
        display: block;
        grid-column: 1/11;
        background-color: var(--gray);
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 15px;
    }

    header {
        grid-column: 2/10;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    #logo {
        grid-column: 1/4;
    }

    #hero-text-container p{
        display: none;
    }

    #playa-location {
        grid-column: 2/10;
    }

    #puerta-maya-location {
        grid-column: 2/10;
        margin-top: .8rem;
    }

    #location-info {
        padding-top: .2rem;
    }

    #home-rental-images {
        display: block;
    }

    #rental-description {
        margin-top: 0;
    }

    #weather-cards {
        grid-column: 2/10;
    }

    #weather-card {
        width: 100%;
    }

    #home-rental-images div{
        grid-column: 2/10;
    }

    #weather-text-info {
        grid-column: 2/10;
        margin-top: .5rem;
    }

}