body {
    --dark-blue: #13005A;
    --bright-blue: #063FCE;
    --cream: #F2EDEB;

    --primary-font: "Montserrat", sans-serif; 
    --primary-font-weight: 800;
    --secondary-font: "Hind", sans-serif;
    --secondary-font-weight: 500;
}

body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    margin-top: 2.5rem;
    grid-column: 3/11;
    border-radius: 15px;
    background-color: var(--dark-blue);
}

main {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.5rem;
    grid-column: 3/11;
}

footer {
    grid-column: 3/11;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--dark-blue);
    color: var(--cream);
    padding: 2rem;
    border-radius: 15px;
    font-family: var(--primary-font);
    font-weight: 600;
    text-align: center;
}

b {
    font-weight: 600;
}

img {
    width: 100%;
}

h1 {
    font-family: var(--primary-font);
    font-weight: var(--primary-font-weight);
    color: var(--cream);
    text-align: center;
    padding-top: 1rem;
    font-size: 2.5rem;
}

#header-name {
    font-family: var(--secondary-font);
    font-weight: var(--secondary-font-weight);
    color: var(--cream);
    text-align: center;
    padding-bottom: 1rem;
}

.card {
    text-align: center;
    border: 3px solid var(--cream);
    border-radius: 15px;

}

.card h2 {
    font-family: var(--primary-font);
    font-weight: var(--primary-font-weight);
    color: var(--dark-blue);
    background-color: var(--cream);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 0;
    padding-top: .8rem;
    padding-bottom: .8rem;
    
}

.card h3 {
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--dark-blue);
}

.card a {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 300;
    color: var(--bright-blue);
}

.card p {
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: left;
    font-family: var(--secondary-font);
    font-weight: 400;
    color: var(--dark-blue);
}

.card h4 {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 1.5rem;
    color: var(--dark-blue);
}


#visual-hierarchy {
    grid-column: 1/5;
}

#contrast {
    grid-column: 5/9;
}

#clean-design {
    grid-column: 9/13;
}