body {
    --red: #6C0345;
    --orange: #DC6B19;
    --yellow: #F7C566;
    --off-white: #FFF8DC;
    --primary-font: "Arvo", serif;
    --secondary-font: "Lato", serif;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

img {
    width: 100%;
    height: auto;
}

body {
    background-color: var(--off-white);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 960px;
}

header {
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


main {
   grid-column: 2/12;
   grid-template-columns: repeat(12, 1fr);
}

#welcome-message {
    grid-column: 2/12;
    text-align: center;
    font-family: var(--primary-font);
    color: var(--red);
}

.navigation a {
  text-decoration: none;
  color: var(--red);
}

.navigation a:visited {
  color: var(--red);
}

footer {
    grid-column: 2/12;
    font-family: var(--secondary-font);
    margin-top: 1.6rem;
}

#logo {
    grid-column: 1/5;
    margin-bottom: 1rem;
}

#main-image img{
    border-radius: 15px;
}


nav a {
    display: none;
    padding: .5rem;
    font-family: var(--primary-font);
    font-weight: 550;
}

nav {
    width: 100%;
   grid-column: 2/12;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   background-color: var(--red);
   color: var(--off-white);
   border-radius: 15px;
   margin-bottom: 1rem;
}



.open a {
    display: block;
}

.open {
    display: block;
}

#menu {
    display: block;
    background-color: var(--off-white);
    border: none;
    font-size: 1.5rem;
    padding: 7.5px 0 0 10px;
    grid-column: 12/13;

}

#menu::before {
    content: "☰"; 
    color:#6C0345;
}

#menu.open::before {
    content: "❌";
}

#weather h2, #business-spotlight h2, #call-to-action h2, #current-events h2 {
    font-family: var(--primary-font);
    color: var(--off-white);
    background-color: var(--red);
    text-align: center;
    padding: .75rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0;
}


p {
    font-family: var(--secondary-font);
    font-weight: 500;
}

h3 {
    font-family: var(--secondary-font);
    font-weight: 800;
}

#weather h3 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#large-mule-image {
    display: none;
}

#weather img, #business-spotlight img, #call-to-action img, #current-events img {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .switch {
    grid-column: 11/12;
    margin-top:2rem;
  }

  .sidebar {
    grid-column: 1/4;
    
    border-radius: 10px;
    padding: 1rem;
    border: 5px solid var(--red);  
  }

  .image-gallery {
    grid-column: 4/13;
  }

  .image-gallery img {
    border-radius: 10px;
  }

  figure {
    width: 100%;
    margin: 0;
  }

  figcaption {
    margin-bottom: 1rem;
  }

 .zoom {
    transition: none;
 }

 .last-visit {
    grid-column: 1/13;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0;
 }

 #discovery-header {
    grid-column: 1/13;
    text-align: center;
    font-family: var(--primary-font);
    background-color: var(--red);
    border-radius: 10px;
    color: var(--off-white) !important;
    padding: 1rem;
 }

 .image-gallery h2 {
    text-align: center;
    background-color: #6C0345;
    padding: 1rem;
    border-radius: 10px;
    color: var(--off-white);
    font-family: var(--primary-font);
 }

 .sidebar h2 {
    font-family: var(--primary-font);
    color: var(--red);
 }

 figcaption {
    font-family: var(--secondary-font);
    margin-top: .5rem;
 }

 /****** Join Page ******/

 .chamber-header, #directory-header {
    grid-column: 1/13;
    text-align: center;
    font-family: var(--primary-font);
    background-color: var(--red);
    border-radius: 10px;
    color: var(--off-white) !important;
    padding: 1rem;
 }

 #join-form {
  grid-column: 1/6;
 
 }

 #join-form fieldset {
  border: solid 5px var(--red);
  border-radius: 10px;
  padding: 1.5rem;
 }

 #join-form legend {
  padding-left: .8rem;
  padding-right: .8rem;
  font-family: var(--primary-font);
  font-size: 1.1rem;
  color: var(--red);
  font-weight: bold;
 }

 #join-form label {
  display: block;
  margin-bottom: 1rem;
  font-family: var(--secondary-font);
  font-weight: bold;
 }



 #join-form input[type="text"],
 #join-form input[type="email"],
 #join-form input[type="tel"] {
  display: block;
  width: 80%;
  border-radius: 6px;
  border: solid 1.8px var(--red);
  margin-top: .3rem;
  height: 25px;
 }

 .benefits-info {
  grid-column: 6/13;
 }

 .benefits-info p, .benefits-info section {
  padding-left: .6rem;
  padding-right: .6rem;
  
 }

 .benefits-info h2 {
  text-align: center;
    font-family: var(--primary-font);
    background-color: var(--red);
    border-radius: 10px;
    color: var(--off-white) !important;
    padding: 1rem;
 }

 #join-chamber-message {
  grid-column: 1/13;
 }

 #join-form div {
  font-family: var(--primary-font);
  color: var(--red);
  font-weight: bold;
  margin-bottom: .8rem;
 }

 #join-form textarea {
  width: 100%;
  border-radius: 6px;
  border: solid 1.8px var(--red);
  height: 150px;
 }

 .cost {
  font-weight: bold;
  text-decoration: underline;
 }

 #join-form input[type="radio"] {
  margin-left: .5rem;
 }
 
 .form-title {
  margin-top: 1.5rem;
 }

 #join-form button {
  margin-top: 1.2rem;
  border-radius: 6px;
  padding: 12px 20px;
  width: 100%;
  background-color: var(--red);
  border: none;
  font-family: var(--primary-font);
  font-weight: bold;
  color: var(--off-white);
 }


 /***** Thank You Page *****/

 #thank-you-message {
  grid-column: 1/13;
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
 }

 #return-home {
  grid-column: 1/13;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 1.2rem;
 }


 /**** Directory ****/

#directory-message {
  grid-column: 1/13;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-family: var(--secondary-font);
}

#member-directory h2 {
  grid-column: 1/13;
  text-align: center;
  font-family: var(--primary-font);
  background-color: var(--red);
  border-radius: 10px;
  color: var(--off-white) !important;
  padding: 1rem;
}

.directory-menu {
  grid-column: 1/13;
  text-align: center;
  margin-top: 1rem;
}

.directory-menu button {
  background-color: var(--red);
  border: none;
  padding: .5rem .8rem;
  width: 100px;
  border-radius: 6px;
  font-family: var(--primary-font);
  color: var(--off-white);
  font-weight: bold;
  box-shadow: 5px 5px 8px rgb(106, 105, 105);
  margin: .7rem;
}

#member-directory {
  grid-column: 1/13;
  margin-top: 1.7rem;
}

#member-directory h3 {
  font-family: var(--primary-font);
  font-weight: bold;
}

#member-directory p {
  font-family: var(--secondary-font);
}

#member-directory a {
  text-decoration: none;
  font-family: var(--secondary-font);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  align-items: center;
}

.grid h2 {
  grid-column: 1/13;
}

.grid h3 {
  text-align: center;
}

.grid img {
  border-radius: 6px;
}

.grid section {
  padding: 3rem 1rem 3rem 1rem;
  height: 350px;
  border: solid 5px #6C0345;
  border-radius: 10px;
}

.list img {
  display: none;
}

.list section {
  margin-bottom: 1rem;
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 10px;
}



