body {
    --red: #6C0345;
    --orange: #DC6B19;
    --yellow: #F7C566;
    --off-white: #FFF8DC;
    --primary-font: "Arvo", serif;
    --secondary-font: "Lato", serif;
}

img {
    width: 100%;
}

body {
    background-color: var(--off-white);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


main {
   grid-column: 2/12;
}

#welcome-message {
    grid-column: 2/12;
    text-align: center;
    font-family: var(--primary-font);
    color: var(--red);
}


footer {
    grid-column: 2/12;
    font-family: var(--secondary-font);
}

#logo {
    grid-column: 1/7;
    margin-bottom: 1rem;
}

#main-image {
    border-radius: 15px;
}


nav a {
    display: none;
    padding: .5rem;
    font-family: var(--primary-font);
    font-weight: 550;
}

nav {
    width: 100%;
   grid-column: 2/12;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   background-color: var(--red);
   color: var(--off-white);
   border-radius: 15px;
   margin-bottom: 1rem;
}



.open a {
    display: block;
}

.open {
    display: block;
}

#menu {
    display: block;
    background-color: var(--off-white);
    border: none;
    font-size: 1.5rem;
    padding: 7.5px 0 0 10px;
    grid-column: 12/13;

}

#menu::before {
    content: "☰"; 
    color:#6C0345;
}

#menu.open::before {
    content: "❌";
}

#weather h2, #business-spotlight h2, #call-to-action h2, #current-events h2 {
    font-family: var(--primary-font);
    color: var(--off-white);
    background-color: var(--red);
    text-align: center;
    padding: .75rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0;
}


p {
    font-family: var(--secondary-font);
    font-weight: 500;
}

h3 {
    font-family: var(--secondary-font);
    font-weight: 800;
}

#weather h3 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#large-mule-image {
    display: none;
}

#weather img, #business-spotlight img, #call-to-action img, #current-events img {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .switch {
    grid-column: 10/11;
    margin-top:2rem;
    margin-left: 50%;
  }