@media screen and (min-width: 1400px) {

    body {
        --red: #6C0345;
        --orange: #DC6B19;
        --yellow: #F7C566;
        --off-white: #FFF8DC;
        --primary-font: "Arvo", serif;
        --secondary-font: "Lato", serif;
    }

    main {
        grid-column: 1/13;
    }

    header {
        grid-column: 1/4;
    }

    .navigation {
        grid-column: 7/13;
    }


    #menu {
        display: none;
    }

    #logo {
        grid-column: 1/12;
        padding-top: .4rem;
    }

    #weather {
        grid-column: 1/5;
    }

    #business-spotlight {
        grid-column: 5/9;
    }

    #call-to-action {
        grid-column: 9/13;
    }

    #current-events {
        grid-column: 1/13;
    }

    footer {
        grid-column: 3/11;
        text-align: center;

    }

    .switch {
        grid-column: 12/13;
        
    }
}