/* @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

body {
    --primary-blue: #352CE8; 
    --black: black;
    --primary-gray: #F3F3F3;
    --primary-text: "Barlow", sans-serif;
    --primary-text-weight: 900;
    --secondary-text: "Montserrat", sans-serif;
    --secondary-text-weight: 500;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    /*width: 60%;*/
    grid-column: 2/12;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 1%;
    text-align: center;
    display: flex;
    justify-content: center; 
}

#header-image {
    width: 15%;
    height: auto;
    border-radius: 10px;
    align-self: center;
}

#header-name {
    padding: 20px 0;
    padding-left: 5%;   
}


h1 {
    font-family: var(--primary-text);
    font-weight: var(--primary-text-weight);
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

nav {
    width: 60%;
    grid-column: 2/12;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--primary-gray);
    border-radius: 10px;
}

nav a {
    text-align: center;
    padding: 1.5% 0 1.5% 0;
    font-family: var(--secondary-text);
    font-weight: var(--secondary-text-weight);
    color: var(--black);
    text-decoration: none;
}

nav a:hover {
    background-color: #352CE8;
    color: white;
}

main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-column: 2/12;
}

#main-header {
    text-align: center;
    padding: 1%;
    font-family: var(--primary-text);
    font-weight: var(--primary-text-weight);
}
.card {
    /*display: grid;*/
    grid-template-columns: 1fr;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    border-radius: 10px;
    margin-bottom: 5%;

}

.card h3 {
    text-align: center;
    font-family: var(--secondary-text);
    font-weight: var(--secondary-text-weight);
    background-color: #352CE8;
    padding: 3%;
    margin-top: 0;
    margin-bottom: 2%;
    color: white;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;

}

.card ul {
    list-style: none;
}

.card ul li {
    font-family: var(--secondary-text);
    font-weight: var(--secondary-text-weight);
}

.card p {
    font-family: var(--secondary-text);
    font-weight: var(--secondary-text-weight);
    text-align: center;
}

.card a {
    text-decoration: none;
}

.card a:visited {
    color:#352CE8;
}

#menu {
    display: none;
}

#page-visits::after {
    content: " 👀:";
}

iframe {
    width: 75%;
    justify-self: center;
    grid-column: 3/11;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer {
    grid-column: 3/11;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--secondary-text);
    font-weight: var(--secondary-text-weight);
}
