@media screen and (min-width: 1400px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    nav {
        flex-direction: row;
        gap: 1.5rem;
        position: relative;
    }

    nav a {
        padding-left: 10px;
        padding-right: 10px;
    }

    nav a:hover {
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    header, nav, main, footer {
        width: 60%;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    .temple-container {
        grid-column: 1/3;
    }

    .temple-img img {
        border-radius: 15px;
        margin-top: 2rem;
        width: 100%;
    }

    .temple-label {
        top: 10%;
        left: 3%;
        padding: 1% 1.5% 1% 1.5%;
        font-size: 1rem;
    }

    #main-header {
        grid-column: 1/3;
    }

    #learning-act-card {
        grid-column: 1/2;
    }

    #information-card {
        grid-column: 2/3;
    }

    .card {
        width: 100%;
    }

    #header-image {
        width: 11%;
    }

  }