@media only screen and (max-width: 600px) {
    #header-image {
        width: 12%;
    }

    header {
        justify-items: start;
    }

    #header-name {
        padding-left: 15px;
        font-size: 1.3rem;
    }
    nav a {
        display: none;
    }

    nav {
        display: none;
    }

    .open a {
        display: block;
    }

    .open {
        display: block;
    }

    #menu {
        display: block;
        background-color: white;
        border: none;
        font-size: 1.5rem;
        padding: 7.5px 0 0 10px;

    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "✖️";
    }

    .card ul li {
        font-size: .75rem;
    }
    
    .card ul {
        padding: 1rem;
    }

    #information-card {
        font-size: .75rem;
    }

    .card {
        width: 80%;
    }
    
    .temple-img img {
        margin-top: 0;
        width: 80%;
    }

    iframe {
        width: 100%;
    }

    .temple-label {
        top: 8%;
        left: 15%;
    }

    .navigation {
        width: 80%;
        margin-bottom: 1rem;
    }
}